@model FaceControlApp.Domain.Entities.Suspect

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Suspect</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceImage)
        </dt>
        <dd class = "col-sm-10">
            <img src="data:image/jpg;base64,@Model.FaceImage" width="600">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Verify" asp-route-id="@Model.Id" class="btn btn-success">Verify</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
