@{
    ViewData["Title"] = "Home Page";
}

<style>
    #videoElement {
        width: 640px;
        height: 480px;
        background-color: #666;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Real-time camera stream</h1>
    <div id="container">
        <video autoplay id="videoElement">
        </video>
    </div>
</div>

<script>
    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (err0r) {
                console.log("Something went wrong!");
            });
    }
</script>
